*html {
    height: 100%;
}

body {
    background-color: lightgray;
     background-image: url('../images/paper-background.png');
    -webkit-background-image:  url('../images/paper-background.png');
    -moz-background-image:  url('../images/paper-background.png');
    -o-background-image:  url('../images/paper-background.png');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    text-align: center;
}

#content {
    background-color: #fff;
    color: #31373f;
    border: 3px double #31373f;
    display: inline-block;
    max-width: 582px;
    min-height: 4em;
    padding: 30px 50px;
    margin: 20px auto 50px auto;
    overflow: auto;
    text-align: center;
}

 .action {
    background-color: #ff0000;
    color: #fff;
    width: auto;
    height: 1em;
    margin-bottom: 1em;
    padding: 0.5em 0.75em;
    float: right;
  
}

h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url('../images/e-School-logo1.png') no-repeat center center;
    padding-top: 40px;
    width: 276px;
    height: 112px;
    margin: 0 auto 0 auto;
}
 

.action {
    position: relative;
    top: 1.3em;
    right: -2.3em;
}

a {
    text-decoration: none;
}

table {
    margin: 20px 100px 0 100px;
}

tr td:first-child {
    font-weight: bold;
    padding-right: 20px;
}